body {
  background-color: #e7e7c7;
  font-family: "Montserrat", sans-serif; }
  body .nav-link {
    color: black; }
  body .carousel-caption {
    color: #161412; }
    body .carousel-caption .card {
      background-color: rgba(199, 189, 178, 0.5); }
  @media only screen and (min-width: 544px) {
    body {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 15px; }
      body .card {
        width: 30rem; }
        body .card p {
          font-size: 10px; } }
  @media only screen and (min-width: 992px) {
    body .nav-link {
      font-size: 23px; }
    body .card {
      width: 15rem; }
      body .card p {
        font-size: 13px; } }
  @media only screen and (min-width: 1200px) {
    body .card {
      width: 18rem; }
      body .card p {
        font-size: 16px; } }
  @media only screen and (min-width: 1400px) {
    body .card {
      width: 18rem;
      bottom: 150px; }
      body .card p {
        font-size: 16px; } }
