@import "variables";
// color variables
	

// font variables
$dosis: 'Dosis', sans-serif;
$monsterat: 'Montserrat', sans-serif;
// media query variables
$landscapePhones: "only screen and (min-width: 544px)";
$tablets: "only screen and (min-width: 768px)";
$deskTops: "only screen and (min-width: 992px)"; 
$largeDesktops: "only screen and (min-width: 1200px)";
$evenLarger: "only screen and (min-width: 1400px)";

body{

    background-color:$bg-color;
    font-family: $monsterat;
    
    .nav-link {
        color: black;
    }




    .carousel-caption {
    
    color: #161412;
    .card {
        background-color: $navy;	
    }
    
    }

    .my-links{
        ul {
            list-style-type: none;
        }
        .mysociallinks {
            font-size: 2vw;
            color: black;
        }
    }




// 544px
@media #{$landscapePhones} {
    font-size: 12px;
}

// 768px
@media #{$tablets} {
    font-size: 15px;

    .card {
        
        width: 30rem;
        p {
            font-size: 10px;
        }
    }
}

// 992px 
@media #{$deskTops} {
    .nav-link {
        font-size: 23px; 
    }
    
    .card {
        
        width: 15rem;
        p {
            font-size: 13px;
        }
    }
    
}

// 1200px
@media #{$largeDesktops} {
    .card {
        width: 18rem;
        p {
            font-size: 16px;
        }
    }
    }

// 1400px 
@media #{$evenLarger} {
    .card {
        width: 18rem;
        bottom: 150px;
        p {
            font-size: 16px;
        }
    }
}
}


